VITE_WEBSOCKET_URL=ws://localhost:8080/api/v1/ws

AGENT_API_URL=http://localhost:8000

OPENROUTER_API_KEY=

LANGFUSE_SECRET_KEY= # [ echo "sk-lf-$(uuidgen)" ]
LANGFUSE_PUBLIC_KEY= # [ echo "pk-lf-$(uuidgen)" ]
# LANGFUSE_BASE_URL=http://localhost:3000 

# Langfuse Setup Credentials
# Bootstraps an account in Langfuse with the following credentials:
LANGFUSE_INIT_ORG_ID=agent-cube-org-id
LANGFUSE_INIT_ORG_NAME=Agent Cube Organization
LANGFUSE_INIT_PROJECT_ID= agent-cube-project-id
LANGFUSE_INIT_PROJECT_NAME=Agent Cube
LANGFUSE_INIT_PROJECT_PUBLIC_KEY= # [ Copy from LANGFUSE_PUBLIC_KEY ]
LANGFUSE_INIT_PROJECT_SECRET_KEY= # [ Copy from LANGFUSE_SECRET_KEY ]
LANGFUSE_INIT_USER_EMAIL=admin@example.dev
LANGFUSE_INIT_USER_NAME=admin
LANGFUSE_INIT_USER_PASSWORD=123123123